<section
  id="sobreMi"
  class="hero-section w-full min-h-[200px] flex flex-col items-start justify-center px-6 lg:px-20 pt-9 pb-9 gap-4 text-left"
>
  <div class="w-full lg:w-[80%]">
    <h1 class="text-2xl md:text-2xl lg:text-3xl font-bold flex items-center gap-3">
      <i data-lucide="user-round" class="w-7 h-7 text-blue-500"></i>
      Sobre mí
    </h1>

    <p class="text-gray-400 mt-4 descripcion">
      Soy desarrollador de software con interés en construir soluciones bien estructuradas, eficientes y
      escalables. Me enfoco en combinar lógica, diseño, arquitectura de software y bases de datos para
      desarrollar aplicaciones funcionales, mantenibles y orientadas a buenas prácticas. Actualmente
      trabajo en proyectos académicos y personales que me permiten fortalecer mis habilidades técnicas,
      resolver problemas reales y profundizar en el desarrollo de sistemas robustos.
    </p>

    <div class="flex flex-wrap gap-6 mt-6">
      <app-badge text="Costa Rica"></app-badge>
      <app-badge text="Backend Focus"></app-badge>
      <app-badge text="Full Stack Developer"></app-badge>
      <app-badge text="Clean Code"></app-badge>
      <app-badge text="API REST"></app-badge>
    </div>
  </div>
</section>
