<header class="sticky top-0 z-50 bg-black">
  <div class="navbar bg-base-100 shadow-sm px-4">

    <!-- Logo -->
    <div class="navbar-start">
      <a class="text-xl nombre whitespace-nowrap">
        Fabian<span>.dev</span>
      </a>
    </div>

    <!-- Menú desktop -->
    <div class="navbar-center hidden lg:flex">
      <div class="tabs tabs-border gap-2 xl:gap-4">
        <a href="#inicio" class="tab text-sm xl:text-base">Inicio</a>
        <a href="#sobreMi" class="tab text-sm xl:text-base">Sobre mí</a>
        <a href="#tecnologia" class="tab text-sm xl:text-base">Tecnologías</a>
        <a href="#proyectos" class="tab text-sm xl:text-base">Proyectos</a>
        <a href="#aprendiendo" class="tab text-sm xl:text-base">En proceso</a>
        <a href="#activity" class="tab text-sm xl:text-base">Mi actividad</a>
        <a href="#gitHub" class="tab text-sm xl:text-base">GitHub</a>
      </div>
    </div>

    <!-- Botón desktop -->
    <div class="navbar-end hidden lg:flex">
      <a href="#contacto" class="btn btn-personalizado-relleno whitespace-nowrap">
        Contactarme
      </a>
    </div>

    <!-- Menú móvil / tablet -->
    <div class="navbar-end lg:hidden">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost">
          ☰
        </div>

        <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-10 mt-3 w-56 p-2 shadow">
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#sobreMi">Sobre mí</a></li>
          <li><a href="#tecnologia">Tecnologías</a></li>
          <li><a href="#proyectos">Proyectos</a></li>
          <li><a href="#aprendiendo">En proceso</a></li>
          <li><a href="#activity">Mi actividad</a></li>
          <li><a href="#contacto">Contactarme</a></li>
          <li><a href="#gitHub">GitHub</a></li>
        </ul>
      </div>
    </div>

  </div>
</header>