<section id="inicio"
  class="hero-section w-full min-h-[420px] flex flex-col lg:flex-row items-center justify-center px-6 lg:px-20 pt-4 pb-2 gap-6">
  <div class="w-full lg:w-1/2 flex flex-col gap-5 text-center lg:text-left">
    <div class="badge badge-lg gap-3 bg-[#101c29] text-white border-none px-6 py-5 rounded-full">
      <span class="w-3 h-3 rounded-full bg-success"></span>
      Disponible para oportunidades
    </div>

    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold">
      Hola, Soy Anthony Fabian Mora Herrera
    </h1>

    <p class="text-lg text-gray-300 descripcion">
      Desarrollador Full Stack, con enfoque en backend, arquitectura limpia y soluciones escalables.
    </p>

    <p class="text-base text-gray-400 leading-relaxed descripcion textoAzul">
      Estudiante de Ingeniería en Desarrollo de Software en Universidad Fidélitas y Técnico en Desarrollo
      de Software por el INA. Construyo aplicaciones web y sistemas backend aplicando buenas prácticas,
      lógica, estructura y persistencia de datos.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 justify-center lg:justify-start pt-5">
      <a href="https://github.com/Fabbian-91?tab=repositories" target="_blank" rel="noopener noreferrer"
        class="btn btn-personalizado-relleno">
        Ver proyectos →
      </a>

      <a href="" class="btn btn-outline flex items-center gap-2" download>
        Descargar CV
        <lucide-icon name="arrow-down-to-line" class="w-5 h-5"></lucide-icon>
      </a>

      <a href="https://github.com/Fabbian-91" target="_blank" rel="noopener noreferrer"
        class="btn btn-outline flex items-center gap-2">
        <iconify-icon icon="simple-icons:github" width="20" height="20" style="color: white;"></iconify-icon>
        GitHub
      </a>
    </div>
  </div>

  <div class="w-full lg:w-1/2 flex justify-center">
    <div class="hero-animation">
      <dotlottie-wc src="https://lottie.host/8a7ad8ad-956c-4507-84bf-e31087aeb662/0ZzWGOuaeg.lottie" autoplay
        loop></dotlottie-wc>
    </div>
  </div>
</section>